*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#container{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: green;
}
/*  
#container{
    background: green;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

#code{
    
    color: rgb(0, 0, 0);
    font-weight:500%;
    font-size: 1.5rem;
    

    
}